body{
	font-family:Roboto,sans-serif;
	margin:0px;
}
.top{
	background-color:#303f9f;
	color:#ddd;
	padding:10px;
	margin:0;
}
.logo2{
	width:40px;
	height:40px;

}
.textTest{
		padding:10px;
	font-weight:bold;
	color:#fff;
	font-size: 30px;
}

.logo{
	font-size:40px;
	display:inline-block;
	width:400px;
	color:rgba(255,255,255,.7);
}
#form{
	display:inline-block;
	width:700px;
}
.account{
	display:inline-block;
	width:220px;
	font-size:12px;
	margin-right:5px;
}
.block{
	display:inline-block;
	//height:45px;
	padding:auto;
	vertical-align:middle;
}
.tAccount{
	float:right;
}
.img-circle{
	float:right;
	border-radius:50%;
	width:32px;
	height:32px;
	margin:10px;
}
.clearfix{
	overflow:auto;
}

#searchBar{
	width:700px;
	height:30px;
	background: url('http://static.tumblr.com/f1skqpy/Oxbn13qun/search_icon.png') #3f51b5 left center no-repeat; 
	background-size: 30px 30px;
	padding-left:35px;
	border:none;
}

nav{
	background-color:#3f51b5;
	height:120px;
	padding:10px;
}
.primaryText{
	color:#FFF;
	font-style: 34px/56px;
	font-family:Roboto,sans-serif;
	padding-left:10px;
	
}
a {
    display: block;
	text-transform: uppercase;
	color:rgba(255,255,255,.7);
	text-decoration:none;
	font-weight:bold;
	padding:0px 40px 0px 0px;
}

a:hover{
	color:#fff;
	text-decoration:underline;

}
ul{
	list-style-type:none;
}
li{
	float: left;
}
.right{
	float:right;
}
input[placeholder]{
	color:#fff;
	font-weight:bold;
}

